.modalBtn {
    padding: 0.75em 1.5em;
    background-color: #51b7e6;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: 1px solid rgb(32, 53, 136);
}

@media (max-width: 768px) {
    .modalBtn {
        width: 100%;
    }
}